/* WRAPPER - center content */
.content-wrapper {
  width: calc(100% - 260px);

  display: flex;
  justify-content: center;
}

/* MAIN CONTENT */
.content {
  width: 1080px;
  margin-top: 105px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* TITLE */
.title {
  max-width: 557px;
  font-size: 48px;
  font-weight: bold;
  line-height: 1.2;
}

/* ORANGE TEXT */
.highlight {
  max-width: 308px;
  color: #c47a2c;
  font-weight: 600;
}

/* DESCRIPTION */
.desc {
  max-width: 508px;
  color: #555;
  line-height: 1.6;
}

/* SECOND TEXT */
.desc2 {
  max-width: 508px;
  color: #777;
}

/* TABLET */
@media (max-width: 1200px) {
  .content {
    width: 90%;
  }
}

/* MOBILE */
@media (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .content-wrapper {
    margin-left: 0;
    width: 100%;
  }

  .content {
    width: 90%;
    margin-top: 80px;
  }

  .title {
    font-size: 32px;
  }
}
