.gallery {
  width: 1080px;
  margin-top: 20px;

  position: relative;
}

/* ARROWS */
.arrows {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 10px;
}

.arrows button {
  padding: 6px 12px;
  cursor: pointer;
}

/* IMAGES CONTAINER */
.images {
  display: flex;
  gap: 20px;

  overflow-x: auto;
  scroll-behavior: smooth;

  scrollbar-width: none; /* firefox */
}

.images::-webkit-scrollbar {
  display: none; /* chrome */
}

/* CARD */
.img-card {
  min-width: 486px;
  height: 358px;
  position: relative;
  flex-shrink: 0;
}

.img-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* OVERLAY */
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  transition: 0.3s;
}

.img-card:hover .overlay {
  opacity: 1;
}

@media (max-width: 768px) {
  .main {
    margin-left: 0;
    width: 100%;
  }

  .gallery {
    width: 90%;
  }

  .img-card {
    min-width: 300px;
    height: 220px;
  }
}
